databases:
  - name: rails-render-demo
    databaseName: rails_render_demo
    user: rails_render_demo
    plan: free
    region: singapore
    postgresMajorVersion: 14

services:
  - type: web
    name: rails-render-demo
    env: ruby
    plan: starter
    region: singapore
    buildCommand: './bin/render-build.sh'
    startCommand: 'bundle exec puma -C config/puma.rb'
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: rails-render-demo
          property: connectionString
      - fromGroup: rails-render-demo_dotenv
# rails-render-demo_dotenv では Secret Files で .env を指定したいが、これをBlueprintで構成する方法は現在（2022年6月）のところ存在しない
# Render ダッシュボードで作成したものを fromGroup で参照することとする
# envVarGroups:
#  - name: rails-render-demo_dotenv
